/// Movie Cards ///

.card-list {
  margin-top: 2rem;
}

.card {
  display: flex;
  padding: 2rem 4rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  background-color: white;
  color: black;

  .img {
    /* margin: 0 auto; */
    display: block;
    height: 200px;
    margin: 0 20px;
    border: 1px solid black;
  }

  .content {
    margin-left: 20px;
  }

  .title {
    margin-top: 0;
    font-size: 2.5rem;
    color: $primary;
  }
}
